### 1.Calculate Area of a Circle

In [51]:
#Calculate Area of a Circle
PI=3.14
radius=float(input("Enter the radius of circle in c.m : "))
Area_of_circle=PI*radius*radius
print("Area of circle is in cm^2 : %.2f" %Area_of_circle)

Enter the radius of circle in c.m : 20
Area of circle is in cm^2 : 1256.00

### 2.Say Hello to user, Expected, ‘Hello name’

In [2]:
#Say hello to user
name=str(input("Enter your name : "))
print(f" 'Hello {name}'")

Enter your name : sadhana
 'Hello sadhana'

### 3.Calculate Volume of Sphere

In [3]:
#Calculate Volume Of Sphere
Pi=3.14
radius=float(input("Enter the radius of sphere in c.m : "))
Volume_of_sphere=4*PI*radius**3
print(f"Volume of Sphere is in cm^3 : {Volume_of_sphere}")

Enter the radius of sphere in c.m : 43
Volume of Sphere is in cm^3 : 998607.92

### 4.Copy String in n times

In [4]:
#To copy the string in n times
Copy_string=str(input("Enter a string : "))
n=int(input("Enter the number : "))
for i in range(n):
    print(Copy_string)

Enter a string : sadhana
Enter the number : 12
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana
sadhana

### 5.Calculate Area of a Triangle

In [5]:
# Calculate area of a Triangle
a=float(input("Enter first side of triangle: "))
b=float(input("Enter second side of triangle: "))
c=float(input("Enter third side of triangle: "))
    #semiperimeter=(a+b+c)/2
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle is %0.3f" %area)

Enter first side of triangle: 12
Enter second side of triangle: 13
Enter third side of triangle: 14
Area of triangle is 72.308

### 6. Calculate Interest

In [4]:
#Calculation of simple interest
P=float(input("Enter the principle amount : "))
t=float(input("Enter the number of years : "))
r=float(input("Enter the rate of interest : "))
Interest=(P*t*r)/100
print(f"Interest is :{Interest}")

Enter the principle amount : 210
Enter the number of years : 2
Enter the rate of interest : 15
Interest is :63.0

### 7.calculate Euclidean Distance

In [6]:
# Euclidean distance for two points as P(p1,p2) and Q(q1,q2)
# Input for points
lis1=[]
lis2=[]
for i in range(2):
    n_=float(input())
    lis1.append(n_)
    print(lis1)
for i in range(2):
    n1_=float(input())
    lis2.append(n1_)
    print(lis2)
distance = float(((lis2[0]-lis1[0])**2+(lis2[1]-lis1[1])**2)**0.5)
print(distance)

21
[21.0]
24
[21.0, 24.0]
56
[56.0]
45
[56.0, 45.0]
40.8166632639171

### 8.Feet to centimeter Converter

In [7]:
#convertion of feet to centimeter
a=float(input("Enter the feet value : "))
b=float(30.48*a)
print("centimeter value is {}".format(b))

Enter the feet value : 30
centimeter value is 914.4

### 9.BMI Calculator

In [8]:
#Calculation of BMI using weight and height
weight=float(input("Enter the weight in kg : "))
height=float(input("Enter the height in meter : "))
BMI=float(weight/(height**2))
print("Bmi is : {}".format(BMI))

Enter the weight in kg : 50
Enter the height in meter : 1.2
Bmi is : 34.72222222222222

### 10.Binary to Decimal

In [50]:
#Convertion of binary to decimal
b_num = list(input("Input a binary number: "))
value = 0
for i in range(len(b_num)):
    digit = b_num.pop()
    if digit == '1':
        value = value + 2**i
print("The decimal value of the number is", value)

Input a binary number: 1011
The decimal value of the number is 11

### 11.receive two integral numbers in string form and compute their sum and then print it in console.

In [11]:
#function to calculate and return the sum 
#Parameters are a,b and a,b should be integral numbers in string format
#return:sum of the numbers in integer format

def cal_sum(a,b):
    s=int(a) + int(b)
    return s

#Main code
#take two integral numbers as strings
num1=str(input("Enter first intrgral number : "))
num2=str(input("Enter second integral number : "))

#calculate sum
sum=cal_sum(num1,num2)

#print sum in console
print(f"Sum is : {sum}")

Enter first intrgral number : 20
Enter second integral number : 45
Sum is : 65

### 12.bitwise operators for any two variable all the bitwise operator that are there

In [2]:
# Bitwise operators of any two variables
# Input two variables
a = int(input("Enter the first variable name : "))
b = int(input("Enter the second variable name : "))

# print bitwise AND operation
print("a & b =",a & b)

# print bitwise OR operation
print("a | b =",a | b)

# print bitwise NOT operation
print("~a =", ~a)

#print bitwise XOR operation
print("a ^ b =",a ^ b)

Enter the first variable name : 12
Enter the second variable name : -2
a & b = 12
a | b = -2
~a = -13
a ^ b = -14

### 13.shift operators

In [3]:
# Input two variables
a = int(input("Enter the first variable name : "))
b = int(input("Enter the second variable name : "))
#print bitwise shift operation
print("bin of a",bin(a))
print("bin of b",bin(b))
print("a >> 5 =",bin(a>>5))
print("a << 5 =",bin(a<<5))
print("b >> 5 =",bin(b>>5))
print("b << 5 =",bin(b<<5))

Enter the first variable name : 23
Enter the second variable name : 56
bin of a 0b10111
bin of b 0b111000
a >> 5 = 0b0
a << 5 = 0b1011100000
b >> 5 = 0b1
b << 5 = 0b11100000000

### 14.str1=" this is a sample daTaa to test for the task" Check if ‘is’ present in str1

In [12]:
#to check a string
def to_check(str2):
        return "is" in str2
str1="this is a sample daTaa to test for the task"
to_check(str1)

True

### 15.Check if ‘was’ not present in str1

In [13]:
#to check a string
def to_check(str2):
        return "was" not in str2
str1="this is a sample daTaa to test for the task"
to_check(str1)

True

### 16.Print str1 in uppercase

In [4]:
#print str1 in uppercase letter
def to_check_uppercase(str2):
    return(str2.upper())
str1="this is a sample daTaa to test for the task"
to_check_uppercase(str1)

'THIS IS A SAMPLE DATAA TO TEST FOR THE TASK'

### 17.Print str1 as title

In [5]:
#print str1 as title
def to_check_title(str2):
    return(str2.title())
str1="this is a sample daTaa to test for the task"
to_check_title(str1)

'This Is A Sample Dataa To Test For The Task'

### 18.Get a new string from str1 ‘DatTaa’ as ‘Data’

In [6]:
#Get a new string str2 from str1 with replacing 'DaTaa' as 'Data'
def to_check_title(str2):
    return(str2.title())

str1="this is a sample daTaa to test for the task"
str3=str1.replace("daTaa","data")
to_check_title(str3)

'This Is A Sample Data To Test For The Task'

### 19.Print a new string with extra "a" removed form previous task

In [16]:
#removing extra "a" from str1
str1="this is a sample daTaa to test for the task"
n=str1.count("a")
print(n)
str_1=str1.replace("a","",5)
print(str_1)

6
this is  smple dT to test for the task

### 20.Display ‘sample’ word from ‘ this is another sample string ‘

In [7]:
#Displaying the word "sample" from "this is another sample string"
def find_1(strng):
    if "sample" in strng:
        return "sample"
string1="this is another sample string"
print(string1)
find_1(string1)

this is another sample string

'sample'

### 21.Display date, month and year from 21-oct-2020

In [17]:
#from 21-oct-2020,we will extract date,month and year
str_1="21-oct-2020"
da_m=str_1.split("-")
print("Date :",da_m[0])
print("Month :",da_m[1])
print("Year :",da_m[2])

Date : 21
Month : oct
Year : 2020

### 22.arr = “10,20,30,40,50,60,70”, get “50,60”

In [18]:
#get elements from a string
arr="10,20,30,40,50,60,70"
lis1=arr.split(",")
lis2=lis1[4:6:1]
print(lis2)

['50', '60']

### 23.using negative index get "50 ,60"

In [19]:
#get elements from a string using negative index
arr="10,20,30,40,50,60,70"
lis1=arr.split(",")
lis2=lis1[-3:-1:1]
print(lis2)

['50', '60']

### 24.From credit_str get ‘8888’ credit_str = "xxxx----xxxx-8888------xxxx"

In [38]:
credit_str = "xxxx----xxxx-8888------xxxx"
new_list=credit_str.split("-")
new_list.index("8888")
new_list[5]

'8888'

### 25.From credit_str get ‘0’ credit_str = "1234-5678-9878-0434"

In [21]:
credit_str = "1234-5678-9878-0434"
newlist1=credit_str.split("-")
lis3=list(newlist1[3])
lis3[0]

'0'

### 26.convert a integer into a string and print it in console

In [8]:
integer=int(input("Enter a integer value: "))
string_convert=str(integer)
print("The type of given integer value is :",(type(string_convert)))

Enter a integer value: 2345
The type of given integer value is : <class 'str'>

### 27.take two strings as input and concatenate them and then print it

In [9]:
string_1=input("Enter a string: ")
string_2=input("Enter another string: ")
string_3=string_1 + string_2
print("concatenated string is :",(string_3))

Enter a string: delhi
Enter another string: india
concatenated string is : delhiindia

### 28.convert the given string into list given_string = " Apples is differnt from Apple Inc"

In [39]:
#convertion of string to list
given_string = " Apples is differnt from Apple Inc"
print(given_string)
given_string.split()

 Apples is differnt from Apple Inc

['Apples', 'is', 'differnt', 'from', 'Apple', 'Inc']

### 29.print type of a and get the 1 element a = {(1,2):1,(2,3):2}

In [15]:
a = {(1,2):1,(2,3):2}
print(type(a))
a.get((1,2))

<class 'dict'>

1

### 30.write a program to get list as 4,3,2 from the list below a=1,2,3,4,5

In [13]:
a=[1,2,3,4,5]
a.reverse()
list1=[]
for i in (a):
    if i==4 or i==3 or i==2:
        list1.append(i)
print(list1)

[4, 3, 2]

In [53]:
#different approach Q.30
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

### 31. write a program to get odd number only using a slicing a=1,2,3,4,5,6,7,8,9

In [11]:
a=[1,2,3,4,5,6,7,8,9]
a1=a[0::2]
a1

[1, 3, 5, 7, 9]

### 32.create a tuple with (1,2) 5 times

In [10]:
#create a tuple with(1,2)5times
t1=(1,2)
t2=(t1,)*5
print(t2)

((1, 2), (1, 2), (1, 2), (1, 2), (1, 2))

### 33.from given list create separate lists of strings and numbers.use list comprehension gadgets = "Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"

In [12]:
strings=[]
numbers=[]
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]
numbers = [i for i in gadgets if (type(i)==int or type(i)==float)]
strings = [i for i in gadgets if type(i)==str]
print(numbers)
print(strings)

[100, 310.28, 27.0, 1000]
['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']

### 34.An array is given from the array find the sum of diagonal using list comprehension a_2d=[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
a_2d = [1,2,3,4,5,6,7,8,9]
b=[]
b1=[]
b2=[]
b3=[]
b1= [i for i in a_2d if (i==1 or i==2 or i==3)]
b2= [i for i in a_2d if (i==4 or i==5 or i==6)]
b3= [i for i in a_2d if (i==7 or i==8 or i==9)]
b.append(b1)
b.append(b2)
b.append(b3)
print(b)
#sum of diagonal elements
sum=b[0][0]+b[1][1]+b[2][2]
print(sum)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
15

In [56]:
pip install numpy

Requirement already satisfied: numpy in c:\users\sushr\anaconda3\lib\site-packages (1.19.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
#different approach for Q.34
import numpy as np
matrix=[[1,2,3],
       [4,5,6],
       [7,8,9]]
n_array=np.array(matrix)
print("Numpy Matrix is : ")
print(n_array)

diag=np.diagonal(n_array)

print("\nDiagonal elements are: ")
print(diag)

print("\nSum of Diagonal elements are: ")
print(sum(diag))

Numpy Matrix is :
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Diagonal elements are:
[1 5 9]

Sum of Diagonal elements are:
15

In [9]:
#another way to solve Q.34
n=3
matrix=[[1,2,3],
       [4,5,6],
       [7,8,9]]
def sum_up_diagonals(li):
    index=len(li)
    first_dia=sum(li[i][i] for i in range(index))
    second_dia=sum(li[i][index-i-1] for i in range(index))
    return(first_dia,second_dia)
sum_up_diagonals(matrix)

(15, 15)

### 35.convert number into tuple of words using comprehension num=8976543201

In [14]:
num1=[8,9,7,6,5,4,3,2,0,1]
word1=["Eight","Nine","Seven","Six","Five","Four","Three","Two","Zero","One"]
result=tuple(zip(num1,word1))
print(result)

((8, 'Eight'), (9, 'Nine'), (7, 'Seven'), (6, 'Six'), (5, 'Five'), (4, 'Four'), (3, 'Three'), (2, 'Two'), (0, 'Zero'), (1, 'One'))

### 36.print the numbers which are divisible by 2 but are not a multiple of 5 numbers = range(1, 10)

In [44]:
for i in range(1,10):
    if (i%2==0) and (i%5 !=0):
        print(i)

2
4
6
8

### 37.print the sum of tuple : use comprehension init_tuple = [(0, 1), (1, 2), (2, 3)]

In [27]:
init_tuple = [(0, 1), (1, 2), (2, 3)]
sum_tuple=sum(list(map(sum,list(init_tuple))))
print(sum_tuple)

sum_tuple2=[sum(i) for i in zip(*init_tuple)]
print(sum_tuple2)
l=[(0,1),(1,2),(2,3)]
print(sum(e[0] for e in l),sum(e[1] for e in l))

9
[3, 6]
3 6

### 38.delete the last coumn from the given 4*4 matrix arr = [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [2]:
arr=[[1,2,3,4],[4,5,6,7],[8,9,10,11],[12,13,14,15]]
for i in range(len(arr)):
    del arr[i][3]
print(arr)

[[1, 2, 3], [4, 5, 6], [8, 9, 10], [12, 13, 14]]

### 39.get the list of value of dict in sorted way dict = {'c': 97, 'a': 96, 'b': 98}

In [1]:
dict1 ={"c":97,"a":96,"b":98}
dict2=dict1.values()
dict3=list(dict2)
dict3.sort()
print(dict3)

[96, 97, 98]

### 40.Creating a Dictionary with Integer Keys and print it

In [16]:
d=dict([(1,"sushree"),(2,"sadhana"),(3,"khatua")])
print(d)

{1: 'sushree', 2: 'sadhana', 3: 'khatua'}

### 41.Creating a Dictionary with Mixed keys

In [17]:
d1_mix={"name":{"jolly","manan","sami","raj"},
        "colour":["black","white","yellow","brown"],
         23.34:67}
print(d1_mix)

{'name': {'manan', 'jolly', 'raj', 'sami'}, 'colour': ['black', 'white', 'yellow', 'brown'], 23.34: 67}

### 42.Creating an empty Dictionary

In [18]:
a={}
print(a)

{}

### 43.Creating a Dictionary with dict() method

In [19]:
dict_4=dict([("mumbai",2000),("delhi",4000),("rajastan",5000),("chennai",7000)])
print(dict_4)

{'mumbai': 2000, 'delhi': 4000, 'rajastan': 5000, 'chennai': 7000}

### 44.Creating a Dictionary with each item as a Pair

In [20]:
dict_new=dict([("cat",200),("dog",400),("rat",500),("monkey",700)])
print(dict_new)

{'cat': 200, 'dog': 400, 'rat': 500, 'monkey': 700}

### 45.Creating a Nested Dictionary as shown in the below image {1: 'python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'class'}}

In [21]:
dict_new11={1: 'python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'class'}}
print(dict_new11)

{1: 'python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'class'}}

### 46.Add a Nested Key value to nested dictionary Dictionary

In [22]:
new_dict={}
print(new_dict)
new_dict["animal"]={}

#adding elements
new_dict["animal"]["name"]="Monkey"
new_dict["animal"]["colour"]="Brown"
print(new_dict)

#adding whole dictionary
new_dict["bird"]={"name":"peacock", "colour":"Blue"}
print(new_dict)

{}
{'animal': {'name': 'Monkey', 'colour': 'Brown'}}
{'animal': {'name': 'Monkey', 'colour': 'Brown'}, 'bird': {'name': 'peacock', 'colour': 'Blue'}}

### 47.create a dictionary with id:num and value: square for range (0,6) using dict comprehension

In [23]:
new_dic={i:j**2 for i,j in enumerate(range(0,6))}
print(new_dic)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 48.create a dictionary using dict comprehension to get the odd square only

In [24]:
new={i:j**2 for i,j in enumerate(range(20)) if i%2==1}
print(new)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

### 49.from a given dict {1: 'a', 2: 'b', 3: 'c'} change the key into item and viceversa

In [25]:
dict_1={1:"a",2:"b",3:"c"}

print(dict_1)

new_dict={}
for key,value in dict_1.items():
    if value in new_dict:
        new_dict[value].append(key)
    else:
        new_dict[value]=[key]
print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}
{'a': [1], 'b': [2], 'c': [3]}

In [29]:
#another way for Q.49
def invert_dict(dict1):
    return({y:x for x,y in dict1.items()})
dict_1={1:"a",2:"b",3:"c"}
print(dict_1)
print(invert_dict(dict_1))

{1: 'a', 2: 'b', 3: 'c'}
{'a': 1, 'b': 2, 'c': 3}

### 50.get a hello from the given dict d = {'k1':[{'nest_key':['this is deep','hello']}]} and d1 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,'hello']}]}]}

In [26]:
d={'k1':[{'nest_key':['this is deep','hello']}]}
d4=d["k1"].pop()
d5=d4["nest_key"][1]
print(d5)


d1 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,'hello']}]}]}
d1["k1"][2]["k2"][1]["tough"][2]

hello

'hello'

### 51.Divisibility Check of user given 2 input of numbers

In [27]:
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
#checking divisible by 3
if num1 % 3==0:
    print(f"{num1} is divisible by 3")
else:
    print(f"{num1} is not divisible by 3")

#checking divisible by 4
if num2 % 4==0:
    print(f"{num2} is divisible by 4")
else:
    print(f"{num2} is not divisible by 4")

Enter first number : 32
Enter second number : 45
32 is not divisible by 3
45 is not divisible by 4

### 52.Check if number is even or odd

In [28]:
num=int(input("Enter a number : "))
if num % 2==0:
    print(f"{num} is an even number")
else:
    print(f"{num} is an odd number")

Enter a number : 24
24 is an even number

### 53.Check whether Entered character is Vowel or not

In [29]:
char1=input("Enter a character value : ")
if (len(char1)==1):
    if (char1=="a" or char1=="e" or char1=="i" or char1=="o" or char1=="u" or char1=="A" or char1=="E" or char1=="I" or char1=="O" or char1=="U"):
        print(f"{char1} is Vowel")
    else:
        print(f"{char1} is Consonant")
else:
    print("You entered wrong")

Enter a character value : w
w is Consonant

### 54.calculate Sum of n positive Integer example: Sum of n positive Integer till 2 is 3

In [31]:
n = int(input("Enter a number : "))
sum_integer=(n/2)*(1+n)
print(sum_integer)

Enter a number : 4
10.0

### 55.calculate the Digit Sum of a number (eg: 123 print 1+2+3=6)

In [32]:
def sum_digits(n):
    return 0 if n==0 else int(n % 10) + sum_digits(int(n / 10))
num=int(input("Enter a number : "))
sum_digits(num)

Enter a number : 3456

18

### 56.Count Numbers, Alphabets, and Special Character from user input string

In [33]:
#count Numbers,Alphabets and Special Character from user input string
string = input("Enter a string : ")
numbers = Alphabets = special = 0

for i in range(len(string)):
    if (string[i].isdigit()):
        numbers+=1
    elif (string[i].isalpha()):
        Alphabets+=1
    else :
        special+=1
print("\nTotal number of Numbers in this string :",numbers)
print("Total number of Alphabets in this string :",Alphabets)
print("Total number of Special Characters in this string :",special)

Enter a string : Stockholm@@@12345

Total number of Numbers in this string : 5
Total number of Alphabets in this string : 9
Total number of Special Characters in this string : 3

### 57.constuct the given pattern

In [34]:
n=5
for i in range(n):
    for j in range(i):
        print("* ",end="")
    print("")
    
    
for i in range(n,0,-1):
    for j in range(i):
        print("* ", end="")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 58.Count number of characters in a string eg : {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [35]:
name=input("Enter a string value : ")
dict1={}
for n in (name):
    dict1[n]=name.count(n)

print(dict1)

Enter a string value : sweden
{'s': 1, 'w': 1, 'e': 2, 'd': 1, 'n': 1}

### 59.write a program to compute 5/0 using try except

In [36]:
try:
    x=5/0
except:
    print("Error division by zero")

Error division by zero

### 60.Handle the exception thrown by the code below by using try and except blocks. li=["hello","class"] for i in li: print (i**2)

In [37]:
try:
    li=["hello","class"]
    for i in li:
        print (i**2)
except:
    print("You entered wrong")

You entered wrong

### 61.Write a function that asks for an integer and prints the square of it. Use a while loop with a try,except, else block to account for incorrect inputs.

In [19]:
def ask_1():
    while True:
        try:
            num=int(input("Enter a value : "))
            
        except:
            print("wrong entry")
            continue
        else:
            print("Square of the number is :",num**2)
            break
ask_1()

Enter a value : null
wrong entry
Enter a value : 24
Square of the number is : 576

### 62.Accept the String and print the words composed of digits only

In [43]:
str2=input("Enter a string value: ")
str4=[]
for i in range(len(str2.split())):
    if str2.split()[i].isdigit()==True:
        str4.append(str2.split()[i])
for i in str4:
    print(i)

Enter a string value: sw 23 rtf 56
23
56